body{
  background-color: #f4f9f9;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}

/* #root{
  background-color: yellow;
} */

.App {
  background-color: bisque;
  text-align: center;
}

#logo-main{
  display: block;
  margin: 20px auto;
}

.navbar {
  height: 4vw;
}

.bg-light{
  background-color: #8fd6e1!important;
}

/**********************************************************************/
/********************* LES CARDS **************************************/
/**********************************************************************/

#leHome{
  /* position: relative;
  bottom: 20vw; */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.uneseulcarte{
  padding: 2%;
  flex-grow: 1;
  width: 20vw;
}

.uneseulcarte button {
  border: none;
  background: none;
}


.plusCircleOutlined, .minusCircleOutlined {
  border: none;
  background: none;
  font-size: 1.6vw;
}

.infoCircleOutlined{
  border: none;
  background: none;
  font-size: 2vw;
  color: orange;
}

.plusCircleOutlined{
  color: green;
}

.minusCircleOutlined{
  color: red;
}

img{
  margin: auto;
}

/**********************************************************************/
/********************* CAROUSEL ***************************************/
/**********************************************************************/

.imageParProduit{
  margin-top: 2%;
}

#imageOuCarousel{
  padding-top: 2%;
  width:20rem;
  margin: auto;
}

#detailsProduct
{
  padding-top: 3rem;
  margin: auto;
  width:100%;
  height:10rem;
  font: italic 1.8em "Fira Sans", serif;
  text-align: center;
}

#detailsProduct ul {
  list-style-type: none;
}

/**************************************************************************************/
/********************* BUTTON SHOP PAGE ACCUEIL ***************************************/
/**************************************************************************************/

#numberProduit{
  text-align: center;
  font: italic 1.3em "Fira Sans", serif;
}

/**************************************************************************************/
/********************* BUTTON AJOUT STOCK PAGE PANIER *********************************/
/**************************************************************************************/

#moinsListe, #plusListe, #deleteListe {
  border: none;
  background: none;
}

#plusListe{
  font-size: 1.3vw;
  color: #40c526;
}

#moinsListe{
  font-size: 1.3vw;
  color: #da6a5b;
}

#deleteListe {
  color: #da6a5b;
  font-size: 1.8vw;
}


/**************************************************************************************/
/********************* PAGE MON PANIER  ***********************************************/
/**************************************************************************************/


table{
  margin: auto;
}

#customers{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-top: 2%;
}

#customers td, #customers th{
  border: 1px solid #ddd;
  padding: 8px;
} 

#customers tr:nth-child(even){
  background-color: #f2f2f2;
}

#customers tr:hover{
  background-color: #ddd;
} 

#customers th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8fd6e1;
  color: white;
}


/******************************************************************************************/
/********************* PAGE MON PANIER VIDE ***********************************************/
/******************************************************************************************/

#laPagePanierQuiEstVide{
  /* background-color: tomato; */
  font: italic 1.8em "Fira Sans", serif;
  text-align: center;
}

/******************************************************************************************/
/********************* PAGE MON PANIER  ***************************************************/
/******************************************************************************************/

#laPagePanier{
  /* background-color: #486064; */
}

/*******************************************************************************************/
/********************* BUTTON & INPUT REDUC PAGE PANIER ************************************/
/*******************************************************************************************/

#goReduc{
  background-color: #8fd6e1;
  color: white;
  border: 3px solid #8fd6e1;
}

#suppReduc{
  /* background-color: #8fd6e1; */
  color: #ff0000;
  font-weight: bold;
  font-size: 1.8vw;
  /* border: 3px solid #8fd6e1; */
  border: none;
  background: none;
}

#inputDeleteCoupon{
  border: none;
  background-color: #f4f9f9;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

/******************************************************************************************************/
/********************* BUTTON PAIEMENT STRIPE *********************************************************/
/******************************************************************************************************/

.couponAndBtnBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: yellow; */
}

.coupon{
  padding-top: 2%;
  /* background-color: blueviolet; */
}

.buttonPaye{
  display: flex;
  justify-content: center;
  /* background-color: #ff0000; */
  outline: none;
  
}

#button-paiement-stripe{
  margin-bottom: 2%;
  background-color: #8fd6e1;
  border-color: #8fd6e1;
  font-weight: bold;
}

#button-paiement-stripe:hover{
  background-color: #37585e;
  border-color: #37585e;
}

#button-paiement-stripe:focus {
  color: none;
  background-color: none;
  border-color: none;
  box-shadow: none;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none
}

/******************************************************************************************************/
/********************* PAGE 404 NOT FOUND *************************************************************/
/******************************************************************************************************/

.PageNotFound404{
display: flex;
flex-direction: column;
}

.PageNotFound404 h3{
  text-align: center;
}

/*******************************************************************************************************/
/********************* LES IMAGES DE LA PAGE PANIER ****************************************************/
/*******************************************************************************************************/

.imagePagePanier{
  width: 2.8vw;
}

.imageAndTitlePanier{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

/******************************************************************************************************/
/********************* LE PANIER AVEC LE NOMBRE DE PRODUIT A LINTERIEUR DANS LE NAV********************/
/******************************************************************************************************/

.badgesNavPanier{
  background-color: wheat;
  position: relative;
}

#shoppingCartOutlined{
  /* background-color: yellowgreen; */
  position: absolute;
  top: -1.6rem;
  left: 0;
}

#numberForNavPanier{
  font-weight: bold;
  font-size: 1vw;
  /* background-color: violet; */
  position: absolute;
  top: -0.7rem;
  left: 1.2rem;
}

#shoppingCartOutlined2{
  font-size: 3vw;
}


.btnPlusAndMoinsAndNumber{
  /* background-color: red; */
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.btnPlusAndMoins{
  /* background-color: royalblue; */
  display: flex;
  flex-direction: column;
}


/******************************************************************************************************/
/********************* LE DIV QUI POPUP QUAND ON CLIQUE SUR ICON PANIER *******************************/
/******************************************************************************************************/

/* a.aDuButtonPanier{
  color: #1c1f1f;
} */

.popUpPanier h3{
  font-size: 1vw;
}

.imagesPopUp{
  width: 6vw;
}

.popUpPanier{
  /* width: 15vw ; */
  height: 20vw;
  background-color: #f7f3f3;
  position: absolute;
  z-index: 1;
  top: 4vw;
  left: 0.5vw;
}

.enTeteDuPopUp{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* background-color: aqua; */
}

.enTeteDuPopUpIcon{
  /* flex: 1; */
  /* background-color: brown; */
  /* align-self: flex-end; */
  font-size: 1.6vw;
  height: 3.3vw;
}

.enTeteDuPopUpText{
  flex: 1;
  /* background-color: burlywood; */
}

.infosAcoterImagesPopUp{
  /* background-color: cyan; */
  text-align: center;
}

.unBlockImageAndInfosAndDelete{
  background-color: #8fd6e1;
  /* height: 10vw; */
  padding: 3%;
  margin-top: 1vw;
  display: flex;
  overflow: auto;
}

.sousTeteDuPopUpText{
  /* background-color: #5d9292; */
  display: flex;
}

.leTitleToal{
  /* background-color: cyan; */
  flex: 1;
}

.deleteButtonPopUp{
  text-align: end;
  font-size: 1.4vw;
  /* background-color: chocolate; */
}

.unBlockTextAndbuttonPoubelle{
  flex: 1;
  /* background-color: cyan; */
  display: flex;
  flex-direction: column;
}

.sousTeteDuPopUpText{
  flex: 1;
}


/******************************************************************************************************/
/********************* LES MEDIA QUERIES **************************************************************/
/******************************************************************************************************/

@media screen and (max-width: 1100px) {
  .uneseulcarte{
    width: 35vw;
  }
  .plusCircleOutlined, .minusCircleOutlined,  .infoCircleOutlined{
    font-size: 3vw;
  }
  #shoppingCartOutlined2{
    font-size: 4vw;
  }
  #numberForNavPanier{
    font-size: 1.5vw;
    top: -0.8rem;
    left: 1rem;
  }
  .imagePagePanier{
    width: 3.5vw;
  }
  #plusListe, #moinsListe, #deleteListe{
    font-size: 2vw;
  }

  #suppReduc{
    font-size: 2.3vw;
  }
}

@media screen and (max-width: 780px) {
  .uneseulcarte{
    width: 40vw;
  }
  .plusCircleOutlined, .minusCircleOutlined, .infoCircleOutlined{
    font-size: 4vw;
  }
  .imagePagePanier{
    width: 5vw;
  }
  #plusListe, #moinsListe, #deleteListe{
    font-size: 3vw;
  }

  #suppReduc{
    font-size: 3vw;
  }

}

@media screen and (max-width: 680px) {
  .uneseulcarte{
    width: 50vw;
  }
  .plusCircleOutlined, .minusCircleOutlined, .infoCircleOutlined{
    font-size: 5.5vw;
  }
  .imagePagePanier{
    width: 7vw;
  }
  #plusListe, #moinsListe, #deleteListe{
    font-size: 4.8vw;
  }

  #suppReduc{
    font-size: 4vw;
  }
}